:root {
  --font-family-rethink-sans: 'Rethink Sans', sans-serif;
  --primary-color: #0077FF;
  /* --background-color: #F2F3F5; */
  --text-color: #000000;
  --chip-update-bg: #000000;
  --chip-update-text: #FFFFFF;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: var(--font-family-rethink-sans);
  color: var(--text-color);
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--background-color);
  border-bottom: 1.5px solid #E0E0E0;
}

.logo {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary-color);
}

.button-container {
  display: flex;
  gap: 1rem;
  margin-left: auto;
}

.criteria-description,
.skills-list,
.feedback-list,
.info-chip.update,
.score-chip,
.info-chip.download,
.button,
.summary-text,
.grade {
  font-family: 'Nunito', sans-serif;
}

.button {
  padding: 0.5rem 1rem;
  border: 1px solid var(--text-color);
  border-radius: 8px;
  font-size: 1.1rem;
  background-color: transparent;
  cursor: pointer;
  color: var(--text-color);
  font-size: 0.85rem;
}

/* Main Content */
.main-content {
  padding: 1rem 0;
}

/* Wrapper to add 7vw left and right margin */
.content-wrapper {
  margin: 0 7vw;
}

.info-card {
  padding-top: 3vh;
  padding-bottom: 1vh;
  display: flex;
  align-items: center;
}

.info-chip {
  flex-basis: 33.33%;
  /* Take up 1/3 of the width */
  padding: 0.6rem;
  background-color: transparent;
  text-align: left;
}

.info-chip.score {
  /* flex-grow: 1; */
  text-align: left;
}

.main-button-container {
  flex-basis: 66.66%;
  /* Take up 2/3 of the width */
  display: flex;
  justify-content: flex-end;
  /* Align buttons to the right */
  gap: 1rem;
  /* Control spacing between buttons */
    align-items: center;
}

/* .info-chip.download {

  min-width: 10vw;
  max-width: 14vw;
  background-color: var(--chip-update-bg);
  color: var(--chip-update-text);
  text-align: center;
  border-radius: 9px;
} */

/* .info-chip.update {
  min-width: 10vw;
  max-width: 14vw;
  border: 1.5px solid var(--primary-color);
  border-radius: 9px;
  color: var(--primary-color);
  text-align: center;
} */

.info-chip.download .button-text {
  font-family: 'Nunito', sans-serif;
  border: none;
  outline: none;
  /* Убирает лишнюю обводку при фокусе */
  box-shadow: none;
  /* Убирает тень */
  text-decoration: none;
  /* Убирает возможные подчеркивания */
  background-color: transparent;
  cursor: pointer;
}

/* Для .info-chip.update */
.info-chip.update .button-text {
  font-family: 'Nunito', sans-serif;
  border: none;
  outline: none;
  box-shadow: none;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

.info-chip.download,
.info-chip.update {
  display: inline-flex;
  /* Равномерное позиционирование текста в центре */
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  /* Размеры кнопки */
  cursor: pointer;
  text-decoration: none;
  /* Убирает подчеркивание */
}

.info-chip.download {

  min-width: 10vw;
  max-width: 14vw;
  background-color: var(--chip-update-bg);
  color: var(--chip-update-text);
  text-align: center;
  border-radius: 9px;
} 

.info-chip.update {
  min-width: 10vw;
  max-width: 14vw;
  border: 1.5px solid var(--primary-color);
  border-radius: 9px;
  color: var(--primary-color);
  text-align: center;
}

.info-text {
  font-weight: bold;
  color: inherit;
  padding-left: 1vw;
  font-size: 2rem;
}

.button-text {
  font-weight: bold;
  color: inherit;
  font-size: 0.95rem;
  /* text-align: center; */
}

/* .progress {
  display: flex;
  justify-content: space-between;
  width: 250px;
  height: 20px;
  padding: 0 2px;
  border-radius: 10px;
  overflow: hidden;
}

.segment {
  flex: 1;
  background-color: var(--primary-color);
  border-radius: 5px;
  margin: 0 4px;
}

.segment:nth-child(n + 4) {
  background-color: #ddd;
} */

.score-wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 3vh;
  /* gap: 1rem; */
  /* margin-top: 1rem; */
}

.info-chip.score {
  flex-shrink: 0;
}

.score-chip {
  flex-basis: 1%;
  flex-shrink: 0;
  padding: 0.6rem;
  background-color: transparent;
  text-align: left;
}

.grade {
  padding-left: 0.5vw;
  font-weight: bold;
  width: 20vw;
}

.progress {
  display: flex;
  justify-content: space-between;
  width: 250px;
  height: 20px;
  padding: 0 2px;
  border-radius: 10px;
  overflow: hidden;
}

.segment {
  flex: 1;
  background-color: var(--primary-color);
  border-radius: 5px;
  margin: 0 4px;
} 

.segment:nth-child(n + 4) {
  background-color: #ddd;
}

.fill {
  background-color: var(--primary-color);
  height: 100%;
  width: 0%;
  transition: width 0.4s ease;
}

.summary-section {
  padding: 1rem;
  padding-top: 3vh;
}

.summary-title,
.feedback-title,
.skills-title {
  font-size: 3rem;
  font-weight: 500;
  color: var(--text-color);
}

.summary-text {
  padding-top: 2vh;
  font-size: 1rem;
  color: var(--text-color);
}


/* Feedback Section */
.feedback-section {
  margin-top: 1rem;
  padding: 1rem;
  padding-top: 5vh;
  padding-bottom: 7vh;
  background-color: transparent;
}

/* Skills Section */
.chart-and-description {
  padding-top: 2vh;
  display: flex;
  align-items: flex-start;
  gap: 15vw;
  /* Controls space between the chart and description */
  margin-top: 1rem;
}

.skills-section {
  margin-top: 1rem;
  padding: 1rem;
  background-color: transparent;
}

.skills-title {
  padding-top: 5vh;
  /* padding-bottom: ; */
}

.skills-image {
  width: 100%;
  height: auto;
}

.chart-section {
  flex: 1;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  justify-content: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 50vw;
}

.radarChart {
  width: 100%;
  height: auto;
}

.criteria-description {
  font-family: 'Nunito', sans-serif;
  font-size: 1.2rem;
  /* font-weight: bold; */
  margin-top: 1rem;
  color: var(--text-color);
  flex: 1;
  max-width: 25vw;
}

.skills-list {
  list-style-type: none;
  /* Remove default bullets */
  padding: 0;
  /* Remove default padding */
  margin-top: 0.5rem;
}

.skills-list li {
  word-break: break-word;
    /* Переносит слово на следующую строку, если оно не помещается */
    overflow-wrap: break-word;
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: var(--text-color);
  padding: 0.5rem 0;
  font-weight: 400;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
}

.skills-list li:last-child {
  border-bottom: none;
  /* Remove line from the last item */
}

.skills-list li::before {
  content: "•";
  /* Icon or bullet before each item */
  color: var(--primary-color);
  /* Use primary color for bullet */
  font-weight: bold;
  margin-right: 0.5rem;
}

.criteria-description {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
  color: var(--text-color);
}

.feedback-list {
  list-style-type: none;
  /* Remove default bullets */
  padding: 0;
  /* Remove default padding */
  margin-top: 0.5rem;
}

.feedback-list li {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: var(--text-color);
  padding: 0.5rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  /* Subtle separator line */
}

.feedback-list li:last-child {
  border-bottom: none;
  /* Remove line from the last item */
}

.feedback-list li::before {
  content: "•";
  /* Icon or bullet before each item */
  color: var(--primary-color);
  /* Use primary color for bullet */
  font-weight: bold;
  margin-right: 0.5rem;
}

.extra-info {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text-color);
  margin-top: 1rem;
}

@media (max-width: 1000px) {
  .grade {
    width: 30vw
  }

  .info-chip.download, .info-chip.update {
    min-width: 18vw;
    max-width: 21vw;
  }
}